//
// Includes
//

@import "bootstrap";
@import "fancybox";
@import "fancybox-buttons";

//
// Colors \o/
//
$background:    #272526;    // brown-ish
$border:        #141414;    // dark gray
$boxground:     #171717;    // darker gray
$white:         #eee;       // white-ish

$base: rgb(225, 26, 45);    // http://www.colourlovers.com/color/e11a2d
$comp1: adjust-color($base, $hue: 210);
$comp2: adjust-color($base, $hue: 150);

//
// Mixins
//
@mixin rounded($rd) {
    -webkit-border-radius: $rd;
    -moz-border-radius: $rd;
    border-radius: $rd;
}

@mixin boxshadow {
    -webkit-box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
    box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
}

@mixin hovershadow($color) {
    box-shadow: 0 0 10px 2px $color;
    -moz-box-shadow: 0 0 10px 2px $color;
    -webkit-box-shadow: 0 0 10px 2px $color;
    -webkit-transition: -webkit-box-shadow 0.2s ease-out;
}

@mixin textshadow($c) {
    text-shadow: 1px 1px 3px $c;
    filter: dropshadow(color=$c, offx=1, offy=1);
}

@mixin transition ($value) {
    -moz-transition: $value;
    -o-transition: $value;
    -webkit-transition: $value;
    transition: $value;
}

@mixin gradient($top, $bottom) {
    background-color: $bottom;
    background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
    background: -moz-linear-gradient(top, $top,  $bottom);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}');
}

@mixin color($this) {
    border: solid 1px darken($this, 3%);
    @include gradient(lighten($this, 13%), $this);
    color: mix(#fff, $this, 90%);

    &:hover {
        @include gradient(lighten($this, 10%), darken($this, 5%));
        border: 1px solid lighten($this, 10%);
        @include hovershadow($this);
    }

    &:active {
        @include gradient($this, lighten($this, 10%));
        color: mix(#fff, $this, 70%);
    }
}

//
// General and Classes
//

body {
    background: $background url('/images/bodybackground.jpg');
    color: $white;
    font-family: 'Helvetica', 'Arial';
    font-size: 80%;
    padding-bottom: 40px;
}

.centered {
    margin: 0 auto;
}

.thumbnail {
    float: left;
    margin: 10px;
    background: $boxground;
    padding: 10px;
    border: 3px solid $border;

    .overlay {
        position: absolute;
    }

    img {
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -webkit-box-shadow: inset 1px 1px 1px 1px $border;
        -moz-box-shadow: inset 1px 1px 1px 1px $border;
        box-shadow: inset 1px 1px 1px 1px $border;
        overflow: hidden;
    }
}

.items {

    .meta {
        display: inline-block;
    }
}

.item-meta {
    
    .tags {
        width: 200px;
        
        li {
            display: inline;
        }
    }

    form {
        margin: 5px 0 0 0;

        input {
            padding: 2px 4px;
            border: 1px solid $white;
        }

        input[type=text] {
            background-image: url('/images/tag-mono.png');
            @include rounded(5px);
            background-repeat: no-repeat;
            background-position: 3px 2px;
            padding-left: 25px;
        }

        input.btn {
            margin-left: 5px;
        }
    }
}

//
// Navbar
//
// bootstrap's fixed-top -> fixed-bottom, dropdown -> dropup
.navbar {
    margin-bottom: 0 !important;
}

.navbar-fixed-top {
    top: auto !important;
    bottom: 0;
}

.navbar .dropdown-menu::after {
    border-bottom: 0px solid transparent !important;
    border-top: 6px solid white;
    top: auto !important;
    bottom: -6px;
}

.dropdown-menu {
    top: auto !important;
    bottom: 100%;
}

//
// Header
//
header {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    padding: 20px 0;
}

.nsfw_link {
    color: #87101b;
}

// Header Ribbon
// http://jsfiddle.net/Damion/VWRBU/
.ribbon {
    background-color: $boxground;
    /*background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,.1));*/
    /*background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,.1));*/
    /*background-image: linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,.1));*/
    height: 64px;
    margin: 0 40px;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 0 0 1px $border, 0 1px 0 $background inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 0 0 1px $border, 0 1px 0 $background inset;
    box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 0 0 1px $border, 0 1px 0 $background inset;
}

.ribbon:before,
.ribbon:after {
    content: '';
    border: 6px solid transparent;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 100%;
}

.ribbon:before{
    left: 0;
    border-top-color: $boxground;
    border-left-width: 7px;
    border-right-width: 0;
}

.ribbon:after {
    right: 0;
    border-top-color: $boxground;
    border-right-width: 7px;
    border-left-width: 0;
}

.ribbon .right, .ribbon .left{
    border: 30px solid $border;
    position: absolute;
    display: block;
    width:0; height:0;
    top: 10px;
    z-index: -1;
}

.ribbon .right {
    /*-webkit-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, 1px 0 0 #777;*/
    /*-moz-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, 1px 0 0 #777;*/
    /*box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, 1px 0 0 #777;*/
    border-left-color: transparent;
    left: -54px;
}

.ribbon .left {
    /*-webkit-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, -1px 0 0 #777;*/
    /*-moz-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, -1px 0 0 #777;*/
    /*box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, -1px 0 0 #777;*/
    border-right-color: transparent;
    right: -54px;
}

//
// Zeitgeist Clock Canvas
//
#logo_canvas_clock {
    position: absolute;
    left: 319px;
    top: 3px;
    z-index: 11;
}
#logo_blank_clock {
    display: none;
    position: absolute;
    width: 59px;
    height: 59px;
    left: 319px; 
    top: 3px; 
    z-index: 10;
}

//
// Autocomplete Styling
//
.ac_results {
    padding: 0px;
    background-color: $white;
    color: $boxground;
    overflow: hidden;
    width: 190px !important;
    z-index: 99999;

    ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0px;
        padding: 2px 5px;
        cursor: default;
        display: block;
        line-height: 16px;
        overflow: hidden;
    }

    .ac_loading {
        background: white url('/images/indicator.gif') right center no-repeat;
    }

    .ac_odd {
    }

    .ac_over {
        text-decoration: underline;
    }
}

#api_secret {
    font-family: Monospace, "Courier New", sans-serif;
    font-size: 15px;
    margin-left: 35px;
}

.nsfw_link {
    color: #87101b;
}

.upvote {
    position: absolute;
    top: 16px;
    right: 16px;

    input[type="image"] {
        color: transparent;
        background-color: transparent;
        border: transparent;
        padding: 0;
        margin: 0;
    }
}

