production:
  pagetitle: '#woot zeitgeist'
  pagedesc: 'media collected by irc nerds'
  assetpath: './asset'
  session_secret: "fixing this for shotgun"
  racksession_secret: 'another random string'
  items_per_page: 25
  api_secret: 'changeme'
  pagespeed: true
development:
  pagetitle: 'the localhost zeitgeist'
  pagedesc: 'media collected by a lonely developer'
  assetpath: './asset'
  session_secret: "fixing this for shotgun"
  racksession_secret: 'another random string'
  items_per_page: 50
  datamapper_logger: :debug # show sql queries for debugging
  api_secret: 'changeme'
  pagespeed: false
