%header
  .ribbon
    %canvas{ :id => 'zeitgeist-clock', :width=> '58', :height => '58' }
    %a{ :href => '/' }
      %img{ :src => '/images/logo.png', :alt => 'logo' }
    %span.left
    %span.right
