%header
  .ribbon
    %a{ :href => '/' }
      %img{ :src => '/images/logo.png', :alt => 'logo' }
      %canvas#logo_canvas_clock{ :width=> '59', :height => '59' }
      %img#logo_blank_clock{ :src => '/images/logo_blank_clock.png', :alt => 'logo' }
    %span.left
    %span.right
