%nav
  %a{ :href => '/new', :class => 'fancynav' } Add
  |
  %a{ :href => '/search', :class => 'fancynav' } Search
  |
  %a{ :href => '/filter/by/type/video', :class => 'nav' } Video
  |
  %a{ :href => '/filter/by/type/audio' } Audio
  |
  %a{ :href => '/filter/by/type/image' } Images
