%div{ :class => 'navbar navbar-fixed-top' }
  .navbar-inner
    .container-fluid
      %a{ :class => 'btn btn-navbar', :data => { :toggle => 'collapse', :target => '.nav-collapse' } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav
          %li.dropdown
            %a{ :href => '#', :class => 'dropdown-toggle', :data => { :toggle => 'dropdown' } }
              Show
              %b.caret
            %ul.dropdown-menu
              %li
                %a{ :href => '/show/video' } Videos only
              %li
                %a{ :href => '/show/audio' } Audios only
              %li
                %a{ :href => '/show/image' } Images only
              %li
                %a{ :href => '/show/voted' } Popular items
              %li
                %a.nsfw_link{:href => '/show/nsfw'}<
                  %abbr{:title => 'not safe for work'} NSFW
              %li
                %a{ :href => '/' } All items
          %li
            %a{ :href => '/search', :class => 'fancybox-button fancybox.ajax' } Search

        %ul.nav{ :class => 'pull-right' }
          %li
            %a{ :href => '/new', :class => 'fancybox-button fancybox.ajax' } Add
          %li
            - if logged_in?
              %a{ :href => '/logout' } Logout
            - else
              %a{ :href => '/login', :class => 'fancybox-button fancybox.ajax' } Login
          %li
            %a{ :href => '/about', :class => 'fancybox-button fancybox.ajax' } ?
