%nav
  %a{ :href => '/filter/by/type/video', :class => 'nav' } Video
  |
  %a{ :href => '/filter/by/type/audio' } Audio
  |
  %a{ :href => '/filter/by/type/image' } Images
  %br
  %a{ :href => '/list/tags' } Tags
  |
  %a{ :href => '/list/dimensions' } Dimensions

