%nav
  %a{:href => '/show/video'} Video
  &#124;
  %a{:href => '/show/audio'} Audio
  &#124;
  %a{:href => '/show/image'} Images
  &#124;
  %input#nsfw_checkbox{:type => 'checkbox', :name => 'nsfw', :value => 'true', :checked => show_nsfw?(true) } 
  %a.nsfw_link{:href => '/show/nsfw'}<
    %abbr{:title => 'not safe for work'} NSFW
  %br
  %a{:href => '/list/tags'} Tags
  &#124;
  %a{:href => '/list/dimensions'} Dimensions
  &#124;
  %a{:href => '/stats'} Stats
  %br
  %a{:href => '/about'} About
  %br
  %a{:href => '/random'} &infin;

