#content

  %h2 What is this?
  %p
    %a{ :href => 'http://zeitgeist.li' } zeitgeist.li
    is a work in progress and will eventually be a image and media gallery written in Ruby and the awesome Sinatra(&#9829;) framework by
    %a{ :href => 'http://apoc.sixserv.org' } apoc
    and
    %a{ :href => 'http://daniel.enthusiasm.cc' } jessor.
  %p
    Sourcecode is available on
    %a{ :href => 'https://github.com/jessor/zeitgeist' } GitHub.
    New content is coming mainly from a irc bot lurking in
    %a{ :href => 'ircs://irc.teranetworks.de:6697/woot' } #woot.
  %p
    We try our best to keep this site clean, but if you find copyright infringing or otherwise illegal content please 
    %a{ :href => 'mailto:daniel@enthusiasm.cc' } contact us.
