#content

  %h2 What is this?
  %p
    %a{ :href => 'http://zeitgeist.li' } zeitgeist.li
    is a image and media gallery written in Ruby and the awesome Sinatra(&#9829;) framework by
    %a{ :href => 'http://apoc.cc' } apoc
    and
    %a{ :href => 'http://daniel.enthusiasm.cc' } jessor.
  %p
    Zeitgeist is licensed
    %a{:href => 'https://raw.github.com/jessor/zeitgeist/master/LICENSE'} GPLv2
    and uses the excellent lightbox script
    %a{:href => 'http://fancyapps.com/fancybox/'} fancyBox
    licensed
    %a{:href => 'http://creativecommons.org/licenses/by-nc/3.0/'} Creative Commons Attribution-NonCommercial 3.0
  %p
    Sourcecode is available on
    %a{ :href => 'https://github.com/jessor/zeitgeist' } GitHub.
    New content is coming mainly from a irc bot lurking in
    %a{ :href => 'ircs://irc.teranetworks.de:6697/woot' } #woot.
  %p
    We try our best to keep this site clean, but if you find copyright infringing or otherwise illegal content please 
    %a{ :href => 'mailto:daniel@enthusiasm.cc' } contact us.
