
#content

  %h2 Your API Secret

  %p The following key can be used as a shared secret to authenticate API access:
  #api_secret #{@api_secret}
  - if @qrcode_active
    %img#qrcode{:src => '/api_secret/qrcode.png'}

  - if @redirect
    %p
      If you've been sent from another application to access zeitgeist, you may use the following link to share the secret with, please note that any third-party application that knows this secret can post, update, delete and tag in your name:
      %a{:href => "#{@redirect}#{@api_secret}"} #{h @redirect}...

  %p
    To revoke/regenerate the key
    %a{:href => '/api_secret/regenerate'} click here.


