%form{ :action => "/login", :method => "post", :class => 'formbox auth' }
  %fieldset
    %ol
      %li
        %label{ :for => "user_email'" } Email
        %input{ :id => "user_email", :name => "email", :size => 30, :type => "text" }
      %li
        %label{ :for => "user_password"} Password
        %input{ :id => "user_password", :name => "password", :size => 30, :type => "password" }
      %li.last
        %input{ :value => "Login", :type => "submit" }
        %br
        %a{ :href => "/signup", :class => 'sinatra_authentication_link' } or Sign up
