%form.formbox.auth.form-horizontal{ :action => "/login", :method => "post" }
  %fieldset
    %legend Login
    %div.control-group
      %label.control-label{ :for => "user_email'" } Email
      %div.controls
        %input{ :id => "user_email", :name => "email", :size => 30, :type => "text" }
    %div.control-group
      %label.control-label{ :for => "user_password"} Password
      %div.controls
        %input{ :id => "user_password", :name => "password", :size => 30, :type => "password" }
    %div.form-actions
      %button.btn.btn-primary{ :value => "Login", :type => "submit" } Login
      or
      %a.btn.btn-info{ :href => "/signup", :class => 'sinatra_authentication_link' } Sign up
