%form.auth.formbox.form-horizontal{ :action => "/signup", :method => "post" }
  %fieldset
    %legend Signup
    %div.control-group
      %label{ :for => "user_email" } Email
      %div.controls
        %input{ :id => "user_email", :name => "user[email]", :size => 30, :type => "text" , :value => params[:email] }
    %div.control-group
      %label{ :for => "user_password" } Password
      %div.controls
        %input{ :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }
    %div.control-group
      %label{ :for => "user_password_confirmation" } Confirm Password
      %div.controls
        %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }
    %div.form-actions
      %button.btn.btn-primary{ :value => "Sign up", :type => "submit" } Sign up
      or
      %a.btn.btn-info{ :href => "/login", :class => 'sinatra_authentication_link' } Login
