!!!
%html
  %head
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.png' }
    %script{ :src => '/js/jquery.min.js' }
    %script{ :src => '/js/jquery.noisy.min.js' }
    %script{ :src => '/js/jquery.form.min.js' }
    %script{ :src => '/js/jquery.expander.min.js' }
    %script{ :src => '/js/jquery.fancybox.pack.js' }
    %script{ :src => '/js/jquery.easing.pack.js' }
    %script{ :src => '/js/jquery.mousewheel.pack.js' }
    %script{ :src => '/js/jquery.autocomplete.min.js' }
    %script{ :src => '/js/zeitgeist.js' }

  %body
    - if flash[:error]
      %div{ :class => 'error message' }
        %h3
          Something went seriously wrong
        %p
          = flash[:error]
    - if flash[:notice]
      %div{ :class => 'success message' }
        %h3
          Epic win
        %p
          = flash[:notice]
        %div#dump
    %header
      %a{ :href => '/' }
        %img{ :src => '/images/logo.png', :alt => 'logo' }
      #searchbox
        %form#searchform{ :action => '/search', :method => 'post' }
          %input#searchquery{ :type => 'text', :name => 'searchquery', :size => 20, :value => 'search' }
          %input#searchsubmit{ :type => 'submit', :value => 'search!' }

    #wrapper
      %nav
        %a{ :href => '/filter/by/type/video' } Video
        |
        %a{ :href => '/filter/by/type/audio' } Audio
        |
        %a{ :href => '/filter/by/type/image' } Images
      = yield
      %footer
        %a{ :href => '#wrapper'} &uarr;
        %div
          by
          %a{ :href => 'http://twitter.com/thejessor' } jessor
          and
          %a{ :href => 'http://twitter.com/4poc' } apoc
          %br
          %a{ :href => 'https://github.com/jessor/zeitgeist' } fork us
