!!!
%html
  %head
    %title
      &= @title || settings.pagetitle
    %link{ :rel => 'stylesheet', :href => '/stylesheet.css' }
    %script{ :src => '/js/jquery.min.js' }
    %script{ :src => '/js/jquery.pirobox.min.js' }
    %script{ :src => '/js/jquery.noisy.min.js' }
    :javascript
      jQuery(function(){
        $('body').noisy({
          'intensity' : 1, 
          'size' : '200', 
          'opacity' : 0.034, 
          'fallback' : '', 
          'monochrome' : false
        });
        $().piroBox({
          my_speed: 100, //animation speed
          bg_alpha: 0.8, //background opacity
          slideShow : 'false', // true == slideshow on, false == slideshow off
          close_all : '.piro_close' // add class .piro_overlay(with comma)if you want overlay click close piroBox
        });
      });
  %body
    #wrapper
      %h1
        #{settings.pagetitle}
      = yield
      %footer
        %a{ :href => '#wrapper'} &uarr;
