#content

  %h2
    = @title

  %ul.list_tags
    - @tags.each do |tag|
      %li
        %a{:href => "/show/tag/#{tag.tagname}",
           :style => "font-size: #{weighted_size(tag.count, @min, @max)}px"}
          #{tag.tagname}

