%form#create{ :action => '/new', :method => 'post', :enctype => 'multipart/form-data', :class => 'formbox form-horizontal' }
  %fieldset
    %legend Add new item
    %div.control-group
      %label.control-label{ :for => 'image_upload' } Upload image(s) (Accepted filetypes: png|gif|jpeg):
      %div.controls
        %input{ :type => 'file', :name => 'image_upload[]', :class => 'upload', :multiple => 'multiple' }
    %div.control-group
      %label.control-label{ :for => 'image_url' } or enter URL:
      %div.controls
        %input{ :type => 'text', :name => 'remote_url', :id => 'remote_url', :size => 38 }
    %div.control-group
      %label.control-label{ :for => 'announce' } Various
      %div.controls
        %label.checkbox
          %input{ :type => 'checkbox', :name => 'announce', :value => 'true', :checked => true } Announce on IRC
    %div.form-actions
      %input.btn.btn-primary{ :type => 'submit', :value => 'make it so!' }
