%form#create{ :action => '/new', :method => 'post', :enctype => 'multipart/form-data', :class => 'formbox' }
  %fieldset
    %ol
      %li
        %label{ :for => 'image_upload' } Upload an image (png|gif|jpeg):
        %div.fileinput
          %input{ :type => 'file', :name => 'image_upload', :class => 'upload' }
          %div.fileinputfake
            %input{ :type => 'text', :size => 38, :value => 'Choose file' }
      %li
        %label{ :for => 'image_url' } or enter a URL:
        %input{ :type => 'text', :name => 'remote_url', :id => 'remote_url', :size => 38 }
      %li
        %input{ :type => 'checkbox', :name => 'announce', :value => 'true', :checked => true }
        %label{ :for => 'announce', :style => 'display: inline' } announce in irc
      %li.last      
        %input{ :type => 'submit', :value => 'make it so!' }
