#content

  .filter_random
    show random
    %a{:href => '/random/video'} video,
    %a{:href => '/random/audio'} audio,
    %a{:href => '/random/image'} images

  = partial(:_items)

  #pagination
    %ul.pager
      %li.next.jump
        %a{:href => "/random#{@type ? '/'+@type : ''}"} more random


