#content

  = partial(:_items)

  %i{:style => 'display: block;text-align: center'} please moar tagging ;)

  #pagination
    %ul.pager
      %li.next.jump
        %a{:href => '/random'} more random


