#searchbox
  %form#searchform{ :action => '/search', :method => 'post' }
    %input#searchquery{ :type => 'text', :name => 'searchquery', :size => 20, :value => 'search' }
    %input#searchsubmit{ :type => 'submit', :value => 'search!' }

