//
// Normalize
//
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

//
// Includes
//
@import "fancybox";

//
// Colors \o/
//
$background: #272526; // brown
$darkground: #141414; // dark gray
$white: #eee; // white
$border: #171717; // black
$highlight: #e11a2d; // red
$highlightnuance: #ea4d5d; // lighter red
$higherlight: #f1848f; // light red
$green: #2EE01A;
$blue: #1A91E0;
$lightblue: #1AE0CC;

//
// Mixins
//
@mixin rounded($rd) {
    -webkit-border-radius: $rd;
    -moz-border-radius: $rd;
    border-radius: $rd;
}

@mixin boxshadow {
    -webkit-box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
    box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
}

@mixin hovershadow($color) {
    box-shadow: 0 0 10px 2px $color;
    -moz-box-shadow: 0 0 10px 2px $color;
    -webkit-box-shadow: 0 0 10px 2px $color;
    -webkit-transition: -webkit-box-shadow 0.2s ease-out;
}

@mixin textshadow($c) {
    text-shadow: 1px 1px 3px $c;
    filter: dropshadow(color=$c, offx=1, offy=1);
}

@mixin transition ($value) {
    -moz-transition: $value;
    -o-transition: $value;
    -webkit-transition: $value;
    transition: $value;
}

//
// General and Classes
//
body {
    background: $background;
    color: $white;
    font-family: 'Helvetica', 'Arial';
}

a {
    text-decoration: none;
    color: $blue;
}

a:hover {
    text-decoration: underline;
    color: $white;
}

#wrapper {
    margin: 20px;
}

#content p,
#content h2, {
    margin: 20px;
}

.dragged {
    margin-top: 100px;
}

::-moz-selection {
    background: $highlight;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: $highlight;
    color: #fff;
    text-shadow: none;
}

//
// Header
//
header {
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

// Header Ribbon
// http://jsfiddle.net/Damion/VWRBU/
.ribbon {
    background-color: $border;
    /*background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,.1));*/
    /*background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,.1));*/
    /*background-image: linear-gradient(top, rgba(255,255,255,0.1), rgba(0,0,0,.1));*/
    height: 64px;
    margin: 0 40px;
    position: relative;
    /*padding: 2px 0;*/
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 0 0 1px $darkground, 0 1px 0 $background inset;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 0 0 1px $darkground, 0 1px 0 $background inset;
    box-shadow: 0 1px 3px rgba(0,0,0,.3), 0 0 0 1px $darkground, 0 1px 0 $background inset;
}

.ribbon:before,
.ribbon:after {
    content: '';
    border: 6px solid transparent;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 100%;
}

.ribbon:before{
    left: 0;
    border-top-color: $border;
    border-left-width: 7px;
    border-right-width: 0;
}

.ribbon:after {
    right: 0;
    border-top-color: $border;
    border-right-width: 7px;
    border-left-width: 0;
}

.ribbon .right, .ribbon .left{
    border: 30px solid $darkground;
    position: absolute;
    display: block;
    width:0; height:0;
    top: 10px;
    z-index: -1;
}

.ribbon .right {
    /*-webkit-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, 1px 0 0 #777;*/
    /*-moz-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, 1px 0 0 #777;*/
    /*box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, 1px 0 0 #777;*/
    border-left-color: transparent;
    left: -54px;
}

.ribbon .left {
    /*-webkit-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, -1px 0 0 #777;*/
    /*-moz-box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, -1px 0 0 #777;*/
    /*box-shadow: 0 1px 0 #777, 0 -1px 0 #bbb, 0 -2px 0 #777, -1px 0 0 #777;*/
    border-right-color: transparent;
    right: -54px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}
 
//
// Search
//
#searchbox {
    margin: 20px auto;
    width: 400px;

    form {
        text-align: center;
    }
}

.ac_results {
    padding: 0px;
    /*border: 1px solid black;*/
    background-color: $white;
    color: $border;
    overflow: hidden;
    width: 190px !important;
    z-index: 99999;

    ul {
        width: 100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin: 0px;
        padding: 2px 5px;
        cursor: default;
        display: block;
        /*width: 100%;*/
        line-height: 16px;
        overflow: hidden;
    }

    .ac_loading {
        background: white url('/images/indicator.gif') right center no-repeat;
    }

    .ac_odd {
        /*background-color: #eee;*/
    }

    .ac_over {
        /*background-color: #0A246A;*/
        /*color: white;*/
        text-decoration: underline;
    }
}

//
// Item Lists
//
.items li {
    list-style-type: none;
    display: inline-block;
    background: $border;
    margin: 10px;
    padding: 10px;
    border: 3px solid $darkground;

    .overlay {
        position: absolute;
    }

    .thumbnail {
        display: block;
    }

    .overlay:hover,
    .thumbnail:hover {
        @include hovershadow($blue);
    }
}

.clear {
    float: none;
    clear: both;
}

.item-meta {
    width: 200px;
    margin: 10px 0;
    overflow: hidden;
    font-size: 80%;

    ul.taglist {
        list-style: none; 
        margin: 0; 
        padding: 0;

        li {
            display: inline;
            margin: 0; 
            padding: 0;
            border: 0;
            a.taglink {
                color: $white;
            }
        }

        li:after {
            content: ",";
            margin-right: 3px;
        }

        li:last-child:after {
        content: "";
        }

    }


}

//
// Pagination
//
#pagination {
    margin-top: 20px;
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;

    ul {
        list-style: none;
        clear: left;
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        text-align: center;

        li {
            border: 1px solid $darkground;
            display: block;
            float: left;
            position: relative;
            right: 50%;
            background: $border;

            a {
                display: block;
                margin: 0 0 0 1px;
                padding: 3px 10px;
            }
        }

        li.active {
            a {
                color: $highlight;
            }
        }
    }
}

//
// Forms
//
form ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        padding: 10px;
    }

    li.last {
        float: none;
        clear: both;
        text-align: right;
    }

    fieldset {
        border: none;
        margin: 0;
        padding: 10px;
    }

    label {
        display: block;
        cursor: pointer;
        padding-bottom: 5px;
    }
}

input {
    background-color: $white;
    color: $darkground;
    border: 1px solid $white;
    padding: 2px 4px;
    @include rounded(5px);
    /*@include boxshadow;*/
}

input:focus {
    @include hovershadow($highlight);
}

input[type="submit"] {
    background-color: $highlight;
    color: #fff;
    cursor: pointer;
    padding: 2px 8px;
    width: auto;
    background: -moz-linear-gradient(top, $highlight, $highlightnuance);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0, #e1001a), color-stop(1, $highlightnuance));
    border: 1px solid $darkground;
    text-shadow: 1px 1px 3px #333;
    @include rounded(5px);
}

input[type="submit"]:hover {
    background: $highlight;
    border: 1px solid $highlightnuance;
    @include hovershadow($highlight);
}


form#create {
    background: $border;
    border: 3px solid $darkground;
    padding: 3px 0 0;
    margin: 10px auto;
    width: 520px;
}

form#tags {
    padding-top: 5px;

    input.tagpush {
        margin-left: 10px !important;
    }
}

//
// Notifications
//
.message {
    background-image: -moz-repeating-linear-gradient(135deg, transparent, transparent 20px, rgba(255,255,255,.05) 20px, rgba(255,255,255,.05) 40px);
    background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 20px, rgba(255,255,255,.05) 20px, rgba(255,255,255,.05) 40px);
    background-image: -ms-repeating-linear-gradient(135deg, transparent, transparent 20px, rgba(255,255,255,.05) 20px, rgba(255,255,255,.05) 40px);
    background-image: -o-repeating-linear-gradient(135deg, transparent, transparent 20px, rgba(255,255,255,.05) 20px, rgba(255,255,255,.05) 40px);
    background-image: repeating-linear-gradient(135deg, transparent, transparent 20px, rgba(255,255,255,.05) 20px, rgba(255,255,255,.05) 40px);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 15px;
    position: fixed;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -webkit-animation: animate-bg 5s linear infinite;
    top: 0;
    left: 0;

    h3 {
        margin: 0 0 5px 0;
    }

    p {
        margin: 0;
    }
}

.info {
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.error {
    background-color: #de4343;
    border-color: #c43d3d;
}

.warning {
    background-color: #eaaf51;
    border-color: #d99a36;
}

.success {
    background-color: #61b832;
    border-color: #55a12c;
}

@-webkit-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100px 0;
    }
}

//
// Fancybox
//
#fancybox-outer {
    background: $background;
}

//
// Footer
// 
footer {
    text-align: right;

    div {
        text-align: center;
        font-size: 80%;
    }
}
