// meh normalize...
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px; padding: 0; }
label { cursor: pointer; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

@import "pirobox";

$background: #272526; // brown
$darkground: #141414; // dark gray
$white: #eee; // white
$border: #171717; // black
$highlight: #e11a2d; // red
$highlightnuance: #ea4d5d; // lighter red
$higherlight: #f1848f; // light red
$green: #2EE01A;
$blue: #1A91E0;
$lightblue: #1AE0CC;

@mixin rounded($rd) {
    -webkit-border-radius: $rd;
    -moz-border-radius: $rd;
    border-radius: $rd;
}

@mixin boxshadow {
    -webkit-box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
    -moz-box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
    box-shadow: 2px 2px 5px black, inset 2px 2px 5px black;
}

@mixin textshadow($c) {
    text-shadow: 1px 1px 3px $c;
    filter: dropshadow(color=$c, offx=1, offy=1);
}

@mixin rotate($deg) {
    -moz-transform: rotate(#{$deg});
    -o-transform: rotate(#{$deg});
    -webkit-transform: rotate(#{$deg});
}

@mixin transition ($value) {
    -moz-transition: $value;
    -o-transition: $value;
    -webkit-transition: $value;
    transition: $value;
}

@mixin button {
    background-color: $highlight;
    color: #fff;
    cursor: pointer;
    border: 1px solid $highlight;
    padding: 2px 5px;
    width: auto;
    background: -moz-linear-gradient(top, $highlight, $highlightnuance);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0, #e1001a), color-stop(1, $highlightnuance));
    -webkit-box-shadow: 1px 0 0 $higherlight, -1px 0 0 $higherlight, 0 1px 0 $higherlight, 0 -1px 0 $higherlight, 0 5px 10px -5px #666;
    -moz-box-shadow: 1px 0 0 $higherlight, -1px 0 0 $higherlight, 0 1px 0 $higherlight, 0 -1px 0 $higherlight, 0 5px 10px -5px #666;
    box-shadow: 1px 0 0 $higherlight, -1px 0 0 $higherlight, 0 1px 0 $higherlight, 0 -1px 0 $higherlight, 0 5px 10px -5px #666;
    text-shadow: 1px 1px 3px #333;
    font: italic bold 1em/1.2 Georgia, "Times New Roman ", Times, Cambria, "Nimbus Roman No9 L ", serif;
}
 
body {
    background: $background;
    color: $white;
    font-family: 'Helvetica', 'Arial';
}

h1 {
    text-align: center;
    @include textshadow($border);
}

h1 a {
    color: $white;
}

nav {
    text-align: center;
}

a {
    text-decoration: none;
    color: $blue;
}

a:hover {
    text-decoration: underline;
    color: $white;
}

#wrapper {
    margin: 20px;
}

img {
    display: block;
}

.items li {
    list-style-type: none;
    float: left;
    display: block;
    background: $border;
    margin: 10px;
    padding: 10px;
    border: 3px solid $darkground;
}

.clear {
    float: none;
    clear: both;
}

#notification {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 5px;

    a {
        color: white;
        text-decoration: underline;
    }
}

.error {
    background: $highlight;
    color: white;
}
    
.notice {
    background: $green;
    color: black;
}

.item-meta {
    width: 200px;
    margin: 10px 0;
    overflow: hidden;
    font-size: 80%;

    a.taglink {
        color: $white;
    }
}

form#create {
    background: $border;
    border: 3px solid $darkground;
    padding: 3px 0 0;
    margin: 10px auto;
    width: 520px;
}

form#tags {
    padding-top: 5px;

    input[type="submit"] {
        margin-left: 10px;
    }
}

fieldset {
    border: none;
    margin: 0;
    padding: 10px 20px 25px;


    label {
        display: block;
        cursor: pointer;
        font-weight: bold;
    }
}

input {
    background-color: $white;
    color: $darkground;
    border: 1px solid $white;
    padding: 4px 6px;
    @include rounded(5px);
    @include boxshadow;
}

input[type="submit"] {
    @include button;
    @include rounded(0);
}

input[type="submit"]:hover {
    background: $highlight;
    text-shadow: none;
}

form ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        padding: 10px;
    }

    li.last {
        float: none;
        clear: both;
        text-align: right;
    }

}

footer {
    text-align: right;
}

#github {
    right: -65px;
    height: 30px;
    top: 40px;
    position: absolute;
    text-decoration: none;
    width: 250px;
    @include rotate(45deg);
    span {
        background: black;
        color: $white;
        font-size: 14px;
        left: 0;
        padding: 5px 0;
        position: absolute;
        text-align: center;
        width: 250px;
        @include boxshadow;
    }
}

@media all and (-webkit-transform-3d) {
    #github {
        span {
        opacity: 1 !important;
        -webkit-backface-visibility: hidden;
        }
    }
}   


// hawt
::-moz-selection { background: $highlight; color: #fff; text-shadow: none; }
::selection { background: $highlight; color: #fff; text-shadow: none; }

